.App {
  text-align: center;
}

main, body, .App, #root, .chakra-ui-light {
  background-color: #edefee;
}

h1, h2 {
  font-family: 'Markazi Text', serif;
}

input {
  font-family: "karla", sans-serif;
  font-size: 15px;
  color: #333333;
}

a {cursor: pointer;}

#loading {

  animation: loading infinite 0.4s alternate-reverse;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}